{% extends 'index.html' %}
{% block title %}
base
{% endblock title %}
        
     {% block body %}
     <div class="container mt-5">
     <div class="jumbotron" style="background: transparent; color: whitesmoke;">
        <h1 class="display-4">Hello Everyone!!</h1>
        <p class="lead">This is a simple student project on Student Registration Form for collecting some details of students in our database</p>
        <hr class="my-4" style="color: white;">
        <p>To register your details , Please click on Register</p>
        <a class="btn btn-primary btn-lg" href="/form" role="button" style="background: transparent;">Register</a>
      </div>
    </div>
      {% endblock body %}