{% extends 'index.html' %}
{% block title %}
form
{% endblock title %}
        
     {% block body %}
     <div class="container mt-5 ml-4 mr-8 col-md-7">
       <h5 style="color: rgb(255, 255, 255);"><marquee>Please Fill The Form</marquee></h5>
     <form action="/form" method="POST">{% csrf_token %}
        <div class="form-row col-md-8">
            <div class="form-group col-md-6">
                <label for="fname" style="color: whitesmoke;">First Name</label>
                <input type="text" class="form-control" id="fname" name="fname" style="background: radial-gradient(white,gray);  color: rgb(3, 3, 3);">
              </div>
              <div class="form-group col-md-6">
                <label for="lname" style="color: whitesmoke;">Last Name</label>
                <input type="text" class="form-control" id="lname" name="lname" style="background: radial-gradient(white,gray);  color: rgb(3, 3, 3);">
              </div>
        </div>
        <div class="form-row col-md-8">
            <div class="form-group col-md-6">
                <label for="branch" style="color: whitesmoke;">Branch</label>
                <input type="text" class="form-control" id="branch" name="branch" style="background: radial-gradient(white,gray);  color: rgb(3, 3, 3);">
              </div>
              <div class="form-group col-md-6">
                <label for="sem" style="color: whitesmoke;">Semester</label>
                <input type="number" class="form-control" id="sem" name="sem" style="background: radial-gradient(white,gray); color: rgb(3, 3, 3);">
              </div>
        </div>
        <div class="form-group col-md-8">
          <label for="phone" style="color: whitesmoke;">Phone</label>
          <input type="number" class="form-control" id="phone" name="phone" style="background: radial-gradient(white,gray);  color: rgb(3, 3, 3);">
        </div>
        <div class="form-group col-md-8">
          <label for="email" style="color: whitesmoke;">Email</label>
          <input type="email" class="form-control" id="email" name="email" style="background: radial-gradient(white,gray);  color: rgb(3, 3, 3);">
        </div>
        <div class="form-row col-md-8">
          <div class="form-group col-md-4">
            <label for="college" style="color: whitesmoke;">College</label>
            <input type="text" class="form-control" id="college" name="college" style="background: radial-gradient(white,gray);  color: rgb(3, 3, 3);">
          </div>
          <div class="form-group col-md-4">
            <label for="city" style="color: whitesmoke;">City</label>
            <input type="text" class="form-control" id="city" name="city" style="background: radial-gradient(white,gray);  color: rgb(3, 3, 3);">
          </div>
          <div class="form-group col-md-4">
            <label for="state" style="color: whitesmoke;">State</label>
            <select id="state" name="state" class="form-control" style="background: radial-gradient(white,gray);  color: rgb(3, 3, 3);">
              <option selected>Choose...</option>
              <option>Karnataka</option>
              <option>AndhraPradesh</option>
              <option>TamilNadu</option>
              <option>Mumbai</option>
              <option>Kerala</option>
              <option>Delhi</option>
             </select>
          </div>
          
        </div>
        
       <button type="submit" class="btn btn-dark">Register</button>
      </form>
           
    </div>     
             
            
            
            {% endblock body %}